In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
# from config import g_key

# Configure gmaps API key
g_key = "AIzaSyB7p8EZCg-_X7mrzAHIHy4cQ_b6kmIOsPo"
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,74.19,91,75,12.66,Clouds
1,1,Cape Town,ZA,-33.9258,18.4232,64.27,74,28,5.01,Clouds
2,2,Saskylakh,RU,71.9167,114.0833,3.70,98,100,5.39,Clouds
3,3,Shache,CN,38.4167,77.2406,51.85,54,42,10.98,Clouds
4,4,Mackay,AU,-21.1500,149.2000,66.69,94,9,5.75,Clear

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Rikitea,PF,-23.1203,-134.9692,77.74,68,60,16.98,Rain
6,6,Werda,BW,-25.2667,23.2833,78.69,35,39,5.19,Clouds
7,7,Kavieng,PG,-2.5744,150.7967,81.68,77,100,13.94,Rain
9,9,Tecoanapa,MX,16.5167,-98.7500,81.36,51,44,11.12,Clouds
14,14,Georgetown,MY,5.4112,100.3354,80.53,98,20,5.01,Clouds
20,20,Padang,ID,-0.9492,100.3543,76.33,84,26,3.69,Clouds
26,26,Riyadh,SA,24.6877,46.7219,84.34,10,0,6.51,Clear
28,28,Saint-Philippe,RE,-21.3585,55.7679,78.39,70,69,14.72,Clouds
33,33,Arraial Do Cabo,BR,-22.9661,-42.0278,84.16,78,20,12.66,Clouds
34,34,Kirakira,SB,-10.4544,161.9205,79.39,84,100,3.27,Clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                212
City                   212
Country                208
Lat                    212
Lng                    212
Max Temp               212
Humidity               212
Cloudiness             212
Wind Speed             212
Current Description    212
dtype: int64

In [8]:
preferred_cities_df.sort_values(by=['Country'])

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
174,174,Sharjah,AE,25.3573,55.4033,77.29,78,0,8.05,Clear
629,629,Benguela,AO,-12.5763,13.4055,77.77,83,91,6.76,Clouds
266,266,Roebourne,AU,-20.7833,117.1333,84.60,69,99,6.89,Clouds
94,94,Geraldton,AU,-28.7667,114.6000,75.61,78,40,9.22,Rain
261,261,Port Hedland,AU,-20.3167,118.5667,80.65,89,97,5.75,Clouds
...,...,...,...,...,...,...,...,...,...,...
485,485,Port Shepstone,ZA,-30.7414,30.4550,75.42,87,27,5.66,Rain
141,141,Opuwo,NaN,-18.0607,13.8400,76.41,56,77,0.11,Clouds
295,295,Keetmanshoop,NaN,-26.5833,18.1333,79.72,47,60,9.22,Clouds
470,470,Maltahohe,NaN,-24.8333,16.9833,76.57,30,47,14.38,Clouds
557,557,Ongandjera,NaN,-17.8833,15.0667,82.31,45,76,5.21,Clouds

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()

In [10]:
clean_df.count()

City_ID                208
City                   208
Country                208
Lat                    208
Lng                    208
Max Temp               208
Humidity               208
Cloudiness             208
Wind Speed             208
Current Description    208
dtype: int64

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rikitea,PF,77.74,Rain,-23.1203,-134.9692,
6,Werda,BW,78.69,Clouds,-25.2667,23.2833,
7,Kavieng,PG,81.68,Rain,-2.5744,150.7967,
9,Tecoanapa,MX,81.36,Clouds,16.5167,-98.7500,
14,Georgetown,MY,80.53,Clouds,5.4112,100.3354,
20,Padang,ID,76.33,Clouds,-0.9492,100.3543,
26,Riyadh,SA,84.34,Clear,24.6877,46.7219,
28,Saint-Philippe,RE,78.39,Clouds,-21.3585,55.7679,
33,Arraial Do Cabo,BR,84.16,Clouds,-22.9661,-42.0278,
34,Kirakira,SB,79.39,Clouds,-10.4544,161.9205,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rikitea,PF,77.74,Rain,-23.1203,-134.9692,People ThankYou
6,Werda,BW,78.69,Clouds,-25.2667,23.2833,NaN
7,Kavieng,PG,81.68,Rain,-2.5744,150.7967,Nusa Island Retreat
9,Tecoanapa,MX,81.36,Clouds,16.5167,-98.7500,Hotel Manglares
14,Georgetown,MY,80.53,Clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
685,Harper,LR,83.03,Rain,4.3750,-7.7169,Screensaver
688,Nhulunbuy,AU,75.81,Clear,-12.2333,136.7667,East Arnhem Real Estate
693,Fare,PF,81.73,Clouds,-16.7000,-151.0167,Maitai Lapita Village Huahine
697,Daru,PG,76.28,Rain,-9.0763,143.2092,Daru Lodge
698,Ca Mau,VN,78.76,Clouds,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rikitea,PF,77.74,Rain,-23.1203,-134.9692,People ThankYou
6,Werda,BW,78.69,Clouds,-25.2667,23.2833,NaN
7,Kavieng,PG,81.68,Rain,-2.5744,150.7967,Nusa Island Retreat
9,Tecoanapa,MX,81.36,Clouds,16.5167,-98.7500,Hotel Manglares
14,Georgetown,MY,80.53,Clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
685,Harper,LR,83.03,Rain,4.3750,-7.7169,Screensaver
688,Nhulunbuy,AU,75.81,Clear,-12.2333,136.7667,East Arnhem Real Estate
693,Fare,PF,81.73,Clouds,-16.7000,-151.0167,Maitai Lapita Village Huahine
697,Daru,PG,76.28,Rain,-9.0763,143.2092,Daru Lodge
698,Ca Mau,VN,78.76,Clouds,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau

In [20]:
clean_hotel_df = hotel_df.dropna()

In [21]:
clean_hotel_df.count()

City                   193
Country                193
Max Temp               193
Current Description    193
Lat                    193
Lng                    193
Hotel Name             193
dtype: int64

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.  
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))