In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Rikitea,PF,77.74,Rain,-23.1203,-134.9692,People ThankYou
1,7,Kavieng,PG,81.68,Rain,-2.5744,150.7967,Nusa Island Retreat
2,9,Tecoanapa,MX,81.36,Clouds,16.5167,-98.7500,Hotel Manglares
3,14,Georgetown,MY,80.53,Clouds,5.4112,100.3354,Cititel Penang
4,20,Padang,ID,76.33,Clouds,-0.9492,100.3543,Mercure Padang

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[(vacation_df['Country'] == 'MX') & (vacation_df['City'] == 'Coahuayana')]
vacation_end_df = vacation_df.loc[(vacation_df['Country'] == 'MX') & (vacation_df['City'] == 'Coahuayana')]
stop2_df = vacation_df.loc[(vacation_df['Country'] == 'MX') & (vacation_df['City'] == 'Lazaro Cardenas')]
stop3_df = vacation_df.loc[(vacation_df['Country'] == 'MX') & (vacation_df['City'] == 'Acapulco')]
stop4_df = vacation_df.loc[(vacation_df['Country'] == 'MX') & (vacation_df['City'] == 'Tecoanapa')]

In [8]:
start = (18.7333, -103.6833)
end = (18.7333, -103.6833)
stop2 = (17.9583, -102.2)
stop3 = (16.8634, -99.8901)
stop4 = (16.5167, -98.75)

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_directions = gmaps.directions_layer(
        start, end, waypoints=[stop2, stop3, stop4],
        travel_mode='BICYCLING')
fig.add_layer(vacation_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, stop2_df, stop3_df, stop4_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,682,Coahuayana,MX,85.35,Clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
1,294,Lazaro Cardenas,MX,80.60,Clear,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
2,300,Acapulco,MX,81.97,Clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,9,Tecoanapa,MX,81.36,Clouds,16.5167,-98.7500,Hotel Manglares

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))